@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


.header {
  background-color: #1A0B2E;
  width: 100%;
}

.container {
  background-color: #1A0B2E;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}


.logo {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.menu li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}



.btn {
  background: linear-gradient(90deg,
      #F7E93F 0%,
      #FB09B4 51%,
      #9100F8 100%);
  color: #ffffff;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover {
  transform: scale(1.05);
}


/* Hero */

.hero {
  height: 100vh;
  background: url("../assets/hero-bg.png") center/cover no-repeat;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-btn {
  background: linear-gradient(90deg,
      #F7E93F 0%,
      #FB09B4 51%,
      #9100F8 100%);
  color: #ffffff;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
}

.hero-btn:hover {
  transform: scale(1.05);
}



.mic-wrapper {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: linear-gradient(70deg,
      #F7E93F 0%,
      #FB09B4 51%,
      #9100F8 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.mic-wrapper img {
  width: 150px;
  height: 200px;
}


/* NEW BADGE */
.badge {
  position: absolute;
  top: -0px;
  right: 5px;
  background: #00ff9d;
  color: #000;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
}


/* TEXT */
.hero h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
  color: white;
}

.hero p {
  max-width: 550px;
  font-size: 16px;
  color: #cfcfcf;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-hero {
  padding: 14px 26px;
  border-radius: 30px;
  font-size: 14px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.btn-outline {
  border: 2px solid #00ff9d;
  color: #00ff9d;
}

.btn-outline:hover {
  background: #00ff9d;
  color: #0b0b0b;
  box-shadow: 0 8px 20px rgba(0, 255, 157, 0.35);
  transform: translateY(-2px);
}

/* ABOUT SECTION */
.about {
  background: #1A0B2E;
  padding: 120px 0;
  color: #fff;
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

/* TITLE */
.about h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* PARAGRAPH */
.about-text {
  font-size: 16px;
  line-height: 1.8;
  color: #cfcfcf;
  max-width: 760px;
  margin: 0 auto 20px;
}

/* DIVIDER LINE */
.divider {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 60px 0;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.stat h3 {
  font-size: 42px;
  font-weight: 700;
  color: #00ff9d;
  margin-bottom: 10px;
}

.stat span {
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #bdbdbd;
}

/* WHY SECTION */
.why {
  background: linear-gradient(180deg, #1a0833, #12041f);
  padding: 120px 0;
  color: #fff;
}

.why-container {
  max-width: 1400px;
  margin: 0 auto;
}

/* TITLE */
.why-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* GRID */
.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(180px, auto);
  gap: 30px;
  padding: 120px 200px;
  grid-auto-flow: dense;
}

/* CARD */
.why-card,
.why-card2,
.why-card3 {
  background: #2a0f4d;
  border-radius: 22px;
  padding: 30px;
  height: 100%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}



.why-card h3,
.why-card2 h3,
.why-card3 h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: white;
}

.why-card,
.why-card2 p,
.why-card3 p {
  font-size: 14px;
  line-height: 1.7;
  color: #cfcfcf;
}

/* ICON */
.icon {
  margin-bottom: 20px;
}

/* GRID SPANS */
.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.long {
  grid-column: span 2;
}



/* Featured Section */


.featured {
  background-color: #1A0B2E;
}

/* Container */
.featured-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Section Title */
.section-title {
  grid-column: 1 / -1;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

/* Card */
.card {
  background-color: #22123d;
  padding: 20px;
  border-radius: 14px;
  color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

/* Video */
.card iframe {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  border: none;
}


.card h3 {
  color: white;
  font-size: 24px;
  margin: 16px 0 10px;
}

.card p {
  color: #bdbdbd;
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.85;
}

/* Duration Text */
.card p:last-child {
  margin-top: 10px;
  font-weight: 600;
  color: #00ff9d;
}

.duration {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  color: #cccccc;
  margin-top: 10px;
}

.duration img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}




/* Meet Section */
.meet {
  background-color: #1A0B2E;
  padding: 100px 20px;
  color: #ffffff;
}


.meet-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

/* Host Card */
.meet-card {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #22123d;
  padding: 50px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  gap: 50px;
}


.meet-card img {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  object-fit: cover;
}


.meet-content {
  flex: 1;
}


.meet-content h3 {
  font-size: 32px;
  color: white;
  margin-bottom: 15px;
}


.meet-content p {
  font-size: 15px;
  line-height: 1.7;
  color: #bdbdbd;
  margin-bottom: 25px;
}


.meet-icon {
  display: flex;
  gap: 16px;
}


.meet-icon img {
  width: 25px;
  height: 25px;
}



/* Footer section */



.footer {
  height: 50vh;
  background: url("../assets/footer-bg.png") center/cover no-repeat;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #ffffff;
  padding: 20px;
}


.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 11, 46, 0.7);
  z-index: 1;
}


.footer-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-container h1 {
  font-size: 46px;
  color: white;
  margin-bottom: 15px;
}

.footer-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.footer-icon p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icon p img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}


/* Copyright */
.copy-right {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 15px;
}





/* Mobile Responsive */


@media screen and (max-width: 576px) {

  /* NAVBAR */
  .navbar {
    position: relative;
    height: auto;
    padding: 20px 0;
  }

  .menu {
    display: none;
  }

  .btn {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .logo {
    font-size: 20px;
    margin-left: 20px;
    display: flex;
  }

  /* HERO */
  .hero {
    height: auto;
    padding: 120px 20px 80px;
  }

  .mic-wrapper {
    width: 240px;
    height: 240px;
  }

  .mic-wrapper img {
    width: 110px;
    height: 150px;
  }

  .badge {
    font-size: 14px;
    padding: 10px 14px;
  }

  .hero h1 {
    font-size: 34px;
  }

  .hero p {
    font-size: 14px;
  }

  .hero-buttons,
  .hero-btn {
    flex-direction: row;
    width: 100%;
  }

  .hero-buttons a {
    justify-content: center;
  }


  /* ABOUT */
  .about h2 {
    font-size: 32px;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  /* WHY SECTION */
  .why-title {
    font-size: 32px;
  }

  .why-grid {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .tall,
  .wide,
  .long {
    grid-column: span 1;
    grid-row: span 1;
  }

  /* FEATURED */
  .featured-container {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 32px;
  }

  /* MEET HOST */
  .meet-title {
    font-size: 32px;
  }

  .meet-card {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .meet-content h3 {
    font-size: 26px;
  }

  .meet-icon {
    justify-content: center;
  }

  .icon {
    justify-content: left;
  }

  /* FOOTER */
  .footer {
    height: auto;
    padding: 80px 20px;
  }

  .footer-container h1 {
    font-size: 34px;
  }

  .footer-icon {
    gap: 15px;
  }
}
